<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Cool_Store.com, <%= @user.username %></h1>
    <p>We have some great news for you: </p>
    <p> <%= @text %> </p>
  </body>
</html>
