<!-- Page Content -->
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Categories</h1>
        <div class="list-group">
          <p class="list-group-item"><%= link_to 'Toys', pages_toys_path %></p>
          <p class="list-group-item"><%= link_to 'Films', pages_films_path %></p>
          <p class="list-group-item"><%= link_to 'Gadgets', pages_gadgets_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>
